.adsTitle {
  padding-top: 20px;
  font-size: 40px;
}

.adsText {
  color: $secondary;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
}

.adsUl {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}