.header {
  background-color: #ffffff;
  color: #3f3f3f;
 padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-weight: lighter;
  
}

.headerSpan {
  color: #ff6168;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
  border: 1px solid #3f3f3f;
  border-radius: 20px;
  padding: 4px;
}

