.header {
  background-color: $tertiary;
  color: $primary;
 padding-top: 15px;
  padding-bottom: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-weight: lighter; 
  font-size: 18px;
}

.headerSpan {
  color: $secondary;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
  border: 1px solid $primary;
  border-radius:0px 20px;
  padding: 5px;
  margin: 2px;
}

.headerUl {
  display: flex;
  gap: 10px;
}

.headerNavLink {
  font-size: smaller;
}

.headerNavLink:hover {
  color: $secondary;
}





