@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.header {
  background-color: #ffffff;
  color: #3f3f3f;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerLogo {
  font-weight: lighter;
  font-size: 18px;
}

.headerSpan {
  color: #ff6168;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
  border: 1px solid #3f3f3f;
  border-radius: 0px 20px;
  padding: 5px;
  margin: 2px;
}

.headerUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerNavLink {
  font-size: 20px;
  padding-bottom: 10px;
}

.headerNavLink.smaller {
  font-size: 16px;
}

.headerNavLink:hover {
  color: #ff6168;
}

.burgerBtn,
.x-lg {
  border: transparent !important;
  background-color: transparent !important;
  color: #3f3f3f;
  font-size: 24px;
}

.close {
  display: none;
}

.mobileMenu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  color: #3f3f3f;
  right: 0;
  top: 54px;
  bottom: 0;
  text-align: left;
  min-width: 200px;
}

.burgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subMenu {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  z-index: 0;
}

.headerLiEmail {
  display: none;
}

@media screen and (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
  .close {
    display: block;
  }
  .headerNav {
    display: block !important;
  }
  .headerUl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .headerLi {
    position: relative;
    z-index: 1;
  }
  .headerLi:hover .subMenu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1;
  }
  .subMenu {
    border: 1px solid transparent;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    position: absolute;
    top: auto;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 80px;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    overflow: hidden;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .headerLiEmail {
    display: inline-block;
    color: #ff6168;
    font-size: 14px;
  }
}
.adsPage {
  background-color: #ffffff;
  color: #3f3f3f;
}

.title {
  color: #3f3f3f;
  font-size: 40px;
}

.adsContainer {
  padding-top: 20px;
}

.adsUl {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-left: 0;
}

.adsCard {
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.adsCardByUser {
  background-color: #d59d9d;
}

.adsCard h2 {
  font-size: 20px;
}

.adsCard {
  margin-top: 10px;
  font-size: 16px;
  color: #3f3f3f;
}

.adsPrice {
  font-size: 14px;
}

.deleteBtn {
  border: 1px solid #ff6168;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px 7px 4px 7px;
  color: #ff6168;
}

.adsAlert {
  background-color: #e2e3e5;
  color: #6c757d;
  padding: 0.75rem 1.25rem;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.adsError {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.75rem 1.25rem;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn {
  border: 1px solid transparent;
  background-color: transparent;
  color: #0066cc;
  padding: 4px 7px 4px 0px;
  margin-right: 10px;
}

.adsContainer {
  background-color: #ffffff;
}

.title {
  color: #3f3f3f;
  font-size: 40px;
}

.adsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #3f3f3f;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.formLabel {
  padding-left: 10px;
}

.labelTitle {
  text-decoration: underline;
}

.formInput {
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-style: italic;
  color: #3f3f3f;
  background-color: transparent;
  margin-bottom: 10px;
}

.formInput:focus {
  outline: none;
}

.Dropdown-control {
  border: 1px solid #3f3f3f;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #3f3f3f;
}

.Dropdown-option.is-selected {
  background-color: transparent;
  color: #3f3f3f;
  font-style: italic;
}

.formError {
  background-color: rgb(245, 200, 200);
  display: block;
  color: rgb(236, 69, 69);
  border: 1 px solid rgb(236, 69, 69);
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 6px;
}

.themeIcon {
  border: transparent;
  background-color: transparent;
  color: #3f3f3f;
  font-size: 20px;
}

.themeIcon .bi-brightness-high {
  color: #ff6168;
}

.darkMode .themeIcon .bi-moon-stars-fill {
  color: #ff6168;
}

.darkMode .themeIcon .bi-brightness-high {
  color: #ffffff;
}

.singleAdd {
  background-color: #ffffff;
}

.singleAddContainer {
  padding-top: 15px;
  padding-bottom: 40px;
}

.singleAddTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4px;
}

.singleTitle {
  font-size: 14px;
  color: #3f3f3f;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.adsDate {
  color: #ff6168;
}

.adsDateSpan {
  display: none;
}

.adsPrice,
.adsPhone {
  font-size: 14px;
  padding-bottom: 4px;
  color: #3f3f3f;
}

.singleAddDescr {
  text-align: justify;
  padding-bottom: 8px;
  color: #3f3f3f;
}

.adsType {
  text-transform: capitalize;
  padding-bottom: 4px;
  color: #3f3f3f;
}

@media screen and (min-width: 768px) {
  .singleAddContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(50%, auto)); /* Du stulpeliai vienoje eilutėje */
    gap: 10px; /* Tarpas tarp stulpelių */
  }
  .adsType {
    grid-column: 1;
    text-transform: uppercase;
    font-size: 14px;
  }
  .adsPrice {
    padding-top: 20px;
  }
  .adsPhone {
    padding-bottom: 20px;
  }
  .midle {
    grid-column: 1; /* Šis elementas bus pirmame stulpelyje */
  }
  .right {
    grid-column: 2; /* Šis elementas bus antrame stulpelyje */
  }
  .singleAddDescr {
    padding-right: 10px;
  }
  .singleAddTop {
    display: block;
  }
  .singleAddTop .title {
    font-size: 20px;
  }
  .singleAddTop .adsDate {
    color: #ff6168;
  }
  .singleAddTop .adsDateSpan {
    display: inline-block;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 18px;
  }
}
.townPageContainer {
  background-color: #ffffff;
}

.cardContainerTown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.title {
  color: #3f3f3f;
  font-size: 40px;
}

.text {
  color: #3f3f3f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}

.townCard {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.townCard:hover {
  background-color: #e0e0e0;
}

.townTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.townText {
  font-size: 14px;
  color: #666;
  margin-bottom: 3px;
}

.updateContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=index.css.map */